{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="card-panel blue accent-3" id="content">
        <h1>Welcome to All Skill Team!</h1>
        <!--<a href = "/accounts">List all accounts</a>-->
    </div>
    <div class="card-panel blue lighten-3">
            <h5>Hello, your total current balance is {{ totalBalance }}</h5>
            <h6>Today's target spending is {{ targetToday }}</h6>
            <h6>{{ suggestion }}
            <br>
            <h5>How much should I spend on </h5>
    <form action="" method="post">
        <input type="text" placeholder="groceries, clothing, ..." name="category" value="{{
        request.form.category }}">
        <input class="btn btn-default" type="submit" value="Go!">
    </form>
    <h5>
    </div>
    <script>
        selection(0);
    </script>
{% endblock %}
