{% extends 'base.html' %}
{% block title %}Suggestions{% endblock %}
{% block content %}
    <div class="card-panel teal lighten-2" id="content">
        <h1>Make a Suggestion</h1>
    </div>
		<div class="card-panel teal lighten-1">
				<h5>Suggest an action:</h5>
        <form action="" method="post">
          <input type="text" placeholder="Suggestion" name="suggestion" value="{{ request.form.suggestion }}">
          <input class="btn btn-default" type="submit" value="Go!">
        </form>
		</div>
{% endblock %}
